In [261]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import math
import bootstrapped.bootstrap as bs
import random
import bootstrapped.stats_functions as bs_stats
import time
import geopandas
import plotly.graph_objects as go
import plotly.figure_factory as ff
import time
from datetime import datetime, date, time, timedelta
from matplotlib import style
style.use('ggplot')
import seaborn as sns
import warnings
from statistics import mean
warnings.filterwarnings('ignore')

In [295]:
def generate_words(data):
    words = set()
    # data(str): csv on show info
        # eg: Bachelor_S22_2018.csv

    df = pd.read_csv(r"/Users/lindseytam/Desktop/team-shows/show_info/"+data) 

    for i in range(len(df["twitter_handle"])):
        term = set()
        words.add(df["twitter_handle"][i])
    
    return words

def hidden_key(data):
    #this function lets us know the values for everyone
    #data (str): Bachelor_2018.csv
    contestants = generate_words(data) 
    df = pd.read_csv(r"/Users/lindseytam/Desktop/team-shows/cleaned_data/"+data) 
    df = df.drop(columns=['Unnamed: 0'])
    
    contestant_tweetTotal = []
    for contestant in contestants:
#         contestant_info = [] #first item is avg tweet sentiment, second is total tweets
        contestant_data = df[df['text'].str.contains(contestant)]
        contestant_tweetTotal.append([contestant, contestant_data["polarity"].mean(), len(contestant_data)])
    return contestant_tweetTotal

def clean_tweets(data):
    # just making sure all dates are in datetime
    data = pd.read_csv(r"/Users/lindseytam/Desktop/team-shows/cleaned_data/"+data+".csv") 
    
    data["date"] = pd.to_datetime(df["date"]).dt.date
    data = data.dropna()
    return data

In [291]:
df = pd.read_csv(r"/Users/lindseytam/Desktop/team-shows/cleaned_data/Bachelor_2018.csv") 
df["contestant"] =

,Unnamed: 0,city,date,polarity,state,text
0,0,Sherwood,Sat Dec 09 22:20:08 +0000 2017,0.000000,OR,@BriAmaranthus Boooooooooooooooo
1,0,McMinnville,Tue Dec 12 05:37:14 +0000 2017,0.000000,OR,@BriAmaranthus I hope you will hop out of that...
2,1,Central Point,Tue Dec 12 05:39:44 +0000 2017,0.600000,OR,@BartStarr16 @BobDeal11 @AaronJFentress @BriAm...
3,2,Laguna,Tue Dec 12 06:10:15 +0000 2017,0.000000,CA,"Vote Now For Miss Philander Smith College, Bri..."
4,3,Oakland,Tue Dec 12 00:41:17 +0000 2017,0.000000,CA,@BriAmaranthus Two words. VIEWING PARTIES! üéâüëä
5,4,Dallas,Mon Dec 11 23:59:49 +0000 2017,0.136364,TX,@EmilyKRsire @CarolineLunny @seinnefleming @oh...
6,5,Dallas,Tue Dec 12 01:21:12 +0000 2017,0.000000,TX,@CarolineLunny @EmilyKRsire @seinnefleming @oh...
7,6,Raleigh,Tue Dec 12 01:39:44 +0000 2017,0.300000,NC,@BachelorNation6 @BachelorABC @trumbullina @ma...
8,0,Benton,Thu Dec 14 01:15:56 +0000 2017,0.000000,AR,Y‚Äôall only one semester left until I‚Äôm officia...
9,1,Conway,Thu Dec 14 01:18:29 +0000 2017,0.000000,AR,Y‚Äôall only one semester left until I‚Äôm officia...
10,2,Weehawken,Thu Dec 14 05:46:58 +0000 2017,0.625000,NJ,.@maroosworld never fails at giving the best a...
11,3,Weehawken,Thu Dec 14 05:56:02 +0000 2017,0.000000,NJ,.@AlejandroChal is my newest bf and my newest ...
12,4,Medford,Wed Dec 13 20:34:01 +0000 2017,0.000000,OR,@BriAmaranthus I see ya! 'The Bachelor' Cast:...
13,0,Chicago,Fri Dec 15 03:27:43 +0000 2017,0.000000,IL,@LaurenSchleyer @alyssa_marriee @FuturemanDigi...
14,0,Dallas,Fri Dec 15 22:07:13 +0000 2017,0.800000,TX,"@LaurenSchleyer Girl, I had to check to see if..."
15,0,Whitney,Sat Dec 16 21:55:57 +0000 2017,0.000000,NV,@BriAmaranthus please start it. üèÑüèª‚Äç‚ôÄÔ∏è
16,0,Eugene,Fri Dec 22 06:25:00 +0000 2017,0.100000,OR,Wow even Leavitt is pumped about seeing @BriAm...
17,0,Manhattan,Tue Dec 26 01:30:42 +0000 2017,0.000000,NY,@LaurenSchleyer https://t.co/ffsKJXkK1k
18,0,Paramus,Fri Dec 29 21:40:30 +0000 2017,0.000000,NJ,Jenna Cooper‚Äôs 18 points and 14 rebounds led t...
19,0,Manhattan,Mon Jan 01 19:41:15 +0000 2018,0.500000,NY,@arinsegal @LaurenSchleyer @WellsAdams Lol I‚Äôm...
20,1,Santa Ana,Tue Jan 02 05:08:15 +0000 2018,0.625000,CA,@whats_ur_sign_ Damn you‚Äôre smokin‚Äô it‚Äôs like ...
21,2,Beaverton,Tue Jan 02 05:13:19 +0000 2018,-0.050000,OR,Just spent 30 mins watching #TheBachelor only ...
22,3,Indianapolis,Tue Jan 02 05:13:33 +0000 2018,0.000000,IN,@whats_ur_sign_ is arguably the coolest contes...
23,4,Beaverton,Tue Jan 02 05:54:57 +0000 2018,0.250000,OR,I want that hour of my life back. \n@BriAmara...
24,5,Salt Lake City,Tue Jan 02 01:26:03 +0000 2018,0.000000,UT,@xjasminrivera SHE IS FAB @maroosworld
25,6,Wright,Tue Jan 02 01:28:37 +0000 2018,0.000000,FL,@JamesWallington @williamjardell @JessCarrollT...
26,7,Westlake,Tue Jan 02 01:44:33 +0000 2018,0.500000,LA,@tiarachel91 is already my favorite #TheBachelor
27,8,St George,Tue Jan 02 01:57:50 +0000 2018,0.122222,MO,OKAY I seriously just really need to be friend...
28,9,Los Angeles,Tue Jan 02 04:24:30 +0000 2018,0.000000,CA,@tiarachel91 you are adorableü§ó
29,10,Manhattan,Mon Jan 01 20:21:24 +0000 2018,0.334375,NY,@LaurenSchleyer Haha. So excited for ya! https...
...,...,...,...,...,...,...
1884,5,South Charleston,Mon Mar 12 23:13:14 +0000 2018,0.250000,WV,@IMS @ariejr @laurenburnham91 @IndyCar Such a ...
1885,6,Chattanooga,Tue Mar 13 02:43:23 +0000 2018,0.000000,TN,@bibi_julz @UnRealLifetime
1886,7,Hillsdale,Tue Mar 13 02:02:54 +0000 2018,0.000000,NJ,@bibi_julz c'mon #VanderpumpRules ... üíÅüèº
1887,8,South Huntington,Tue Mar 13 04:47:22 +0000 2018,0.000000,NY,@whats_ur_sign_
1888,0,Los Angeles,Wed Mar 14 03:38:30 +0000 2018,0.200000,CA,@danimariesolis @ariejr @whats_ur_sign_ Hahaha
1889,1,Murphysboro,Wed Mar 14 04:12:15 +0000 2018,0.000000,IL,"@whats_ur_sign_ You and us both, sista! #TeamP..."
1890,2,Los Angeles,Wed Mar 14 04:52:52 +0000 2018,0.350000,CA,@kgoble78 @Chrishell7 @tiarachel91 Face matchi...
1891,3,Portland,Wed Mar 14 00:25:47 +0000 2018,0.166667,OR,üëÄWho is tuning into #the bridge at 6pm tonight...
1892,4,Portland,Wed Mar 14 00:27:12 +0000 2018,0.166667,OR,üëÄWho is tuning into #thebridge at 6pm tonight?...
1893,0,Norwood,Thu Mar 15 01:25:41 +0000 2018,0.225000,PA,@KendallPatrice Awww Thank you so much for you...
1894,1,Bend,Thu Mar 15 01:46:55 +0000 2018,-0.416667,OR,@NBCSNorthwest @OregonMBB @BriAmaranthus @Aaro...
1895,2,San Juan Capistrano,Thu Mar 15 05:09:51 +0000 2018,0.000000,CA,This goes out to my three sisters Brittany Tay...
1896,3,East Glenville,Thu Mar 15 02:33:42 +0000 2018,0.600000,NY,@KendallPatrice @addiezoller I would of immedi...
1897,4,Fairway,Thu Mar 15 00:21:58 +0000 2018,0.000000,KS,@NARAL @thebkoof @TanaPerry15 @kathrynrlindsay
1898,0,Prospect Park,Thu Mar 15 23:11:20 +0000 2018,0.170455,PA,@KendallPatrice I used to live in Cape Coral.....
1899,1,Santa Monica,Thu Mar 15 18:20:30 +0000 2018,0.200000,CA,‚ÄúI‚Äôll be ready in 5‚Äù @annaliese_p_ \n.\n.\n.\n...
1900,2,West Hollywood,Fri Mar 16 06:54:09 +0000 2018,0.035227,CA,Pink Drinks and New Links! ‚ù§Ô∏èThanks for having...
1901,3,Albuquerque,Fri Mar 16 04:01:39 +0000 2018,0.000000,NM,@BriAmaranthus @ChuckTooraw Does anyone know w...
1902,4,Costa Mesa,Fri Mar 16 04:03:09 +0000 2018,0.377083,CA,@KendallPatrice This girl deserves true love!!...
1903,5,St Petersburg,Thu Mar 15 19:16:25 +0000 2018,0.000000,FL,@TheEllenShow @michaelstrahan @thebkoof https:...
1904,6,Boston,Fri Mar 16 02:40:57 +0000 2018,0.000000,MA,You @bibi_julz https://t.co/zP7DLH9oyQ
1905,7,Los Angeles,Fri Mar 16 04:52:40 +0000 2018,0.000000,CA,@BrettSVergara @fleissmeister @Millsy11374 @th...
1906,8,Albuquerque,Fri Mar 16 04:52:42 +0000 2018,0.000000,NM,@kympossible3 @BriAmaranthus @ChuckTooraw Not ...
1907,9,Albuquerque,Fri Mar 16 04:53:18 +0000 2018,0.000000,NM,@BriAmaranthus Where the watches broke he look...
1908,0,Gold Beach,Sat Mar 17 01:40:22 +0000 2018,0.000000,OR,@NBCSNorthwest @AaronJFentress @SerenaWinters ...
1909,1,Tustin,Fri Mar 16 23:52:18 +0000 2018,0.000000,CA,I miss yuki @tiarachel91 @BachelorABC @ravenga...
1910,0,Waukesha,Mon Mar 19 03:39:54 +0000 2018,0.800000,WI,"@tiarachel91 Lol, me too"
1911,1,Kernersville,Sun Mar 18 22:30:20 +0000 2018,0.000000,NC,@tiarachel91 #thestruggleisreal
1912,2,Le Roy,Mon Mar 19 01:43:40 +0000 2018,0.000000,IL,"@CarolineLunny You should listen to the song ""..."
1913,3,Sioux City,Mon Mar 19 05:10:33 +0000 2018,0.350000,IA,I feel like the @thebkoof just needs a semi at...

# Initialize global dataframe

In [274]:
colname = []
for i in range(30):
    colname.append("contestant_" + str(i) + "_avg_sentiment")
    colname.append("contestant_" + str(i) + "_total_tweets")
colname.append("n_season")
colname.append("id_winner")

globaldata = pd.DataFrame(columns=colname)
globaldata

Empty DataFrame
Columns: [contestant_0_avg_sentiment, contestant_0_total_tweets, contestant_1_avg_sentiment, contestant_1_total_tweets, contestant_2_avg_sentiment, contestant_2_total_tweets, contestant_3_avg_sentiment, contestant_3_total_tweets, contestant_4_avg_sentiment, contestant_4_total_tweets, contestant_5_avg_sentiment, contestant_5_total_tweets, contestant_6_avg_sentiment, contestant_6_total_tweets, contestant_7_avg_sentiment, contestant_7_total_tweets, contestant_8_avg_sentiment, contestant_8_total_tweets, contestant_9_avg_sentiment, contestant_9_total_tweets, contestant_10_avg_sentiment, contestant_10_total_tweets, contestant_11_avg_sentiment, contestant_11_total_tweets, contestant_12_avg_sentiment, contestant_12_total_tweets, contestant_13_avg_sentiment, contestant_13_total_tweets, contestant_14_avg_sentiment, contestant_14_total_tweets, contestant_15_avg_sentiment, contestant_15_total_tweets, contestant_16_avg_sentiment, contestant_16_total_tweets, contestant_17_avg_sentiment, contestant_17_total_tweets, contestant_18_avg_sentiment, contestant_18_total_tweets, contestant_19_avg_sentiment, contestant_19_total_tweets, contestant_20_avg_sentiment, contestant_20_total_tweets, contestant_21_avg_sentiment, contestant_21_total_tweets, contestant_22_avg_sentiment, contestant_22_total_tweets, contestant_23_avg_sentiment, contestant_23_total_tweets, contestant_24_avg_sentiment, contestant_24_total_tweets, contestant_25_avg_sentiment, contestant_25_total_tweets, contestant_26_avg_sentiment, contestant_26_total_tweets, contestant_27_avg_sentiment, contestant_27_total_tweets, contestant_28_avg_sentiment, contestant_28_total_tweets, contestant_29_avg_sentiment, contestant_29_total_tweets, n_season, id_winner]
Index: []

[0 rows x 62 columns]

# Get avg tweet sentiment and total total tweet count for each contestant

In [301]:
df = pd.read_csv(r"/Users/lindseytam/Desktop/team-shows/cleaned_data/Bachelor_2018.csv")
data = hidden_key("Bachelor_2018.csv")

# shuffling
shuffle_data = list(data.items())
np.random.shuffle(shuffle_data)
shuffle_data = dict(shuffle_data)
winnder_data = shuffle_data['thebkoof']
shuffle_data

{'bibi_julz': [0.18050734930106394, 127],
 'nyshaxoxo': [nan, 0],
 'ashleyluebke': [0.10833333333333334, 3],
 'oliviagoethals4': [nan, 0],
 'laurenj225': [nan, 0],
 'CoachKrystal__': [nan, 0],
 'LaurenSchleyer': [0.2363033234126984, 24],
 'AmberWilk': [0.2777777777777777, 1],
 'Britt_doll_': [nan, 0],
 'CarolineLunny': [0.10575870075381795, 96],
 'maroosworld': [0.24195906432748537, 19],
 'trumbullina': [0.22194444444444442, 45],
 'laurenburnham91': [0.12502299100310463, 66],
 'ohhaybtay': [0.11383522727272728, 5],
 'valeriebiles': [nan, 0],
 'Chelsea_roy_': [-0.19702380952380952, 7],
 'JessCarrollTV': [0.0, 1],
 'seinnefleming': [0.20861782806745496, 67],
 'jennaacooperr': [nan, 0],
 'thebkoof': [0.1833885201873871, 302],
 'laurenmarguerit': [0.016666666666666666, 3],
 'KendallPatrice': [0.24767514608016258, 190],
 'jdelaneydesigns': [-0.45, 1],
 'maquelx': [nan, 0],
 'ali_harrington_': [nan, 0],
 'BriAmaranthus': [0.162311320754717, 53],
 'annaliese_p_': [0.10944444444444446, 9],
 'whats_ur_sign_': [0.14302891584163918, 440],
 'tiarachel91': [0.14377939886623833, 504]}

In [289]:
# def calculate_row(data):
#     #data (str): Bachelor_2018.csv has 29 contestants
#     contestants = generate_words(data) 
#     df = pd.read_csv(r"/Users/lindseytam/Desktop/team-shows/cleaned_data/"+data) 
#     df = df.drop(columns=['Unnamed: 0'])
#     contestant_info = []
#     for contestant in contestants:
        
#         contestant1 = {contestant}
#         data = df[df['text'].str.contains('|'.join(contestant1))]
#         contestant_info.append(data["polarity"].mean())
#         contestant_info.append(len(data))
#         #contestant_tweetTotal[contestant] = contestant_info
#     return contestant_info

# contestant_info = calculate_row("Bachelor_2018.csv")
# contestant_info.append("1")
# contestant_info.append("1")
# contestant_info.append("1")
# contestant_info.append("1")
# len(contestant_info)

62

In [302]:
#put shuffled data in globaldataframe format
formatted_data = {}
for key in shuffle_data:
    #formatted_data[name] = shuffle_data[key][0]
    print(key)

formatted_data

bibi_julz
nyshaxoxo
ashleyluebke
oliviagoethals4
laurenj225
CoachKrystal__
LaurenSchleyer
AmberWilk
Britt_doll_
CarolineLunny
maroosworld
trumbullina
laurenburnham91
ohhaybtay
valeriebiles
Chelsea_roy_
JessCarrollTV
seinnefleming
jennaacooperr
thebkoof
laurenmarguerit
KendallPatrice
jdelaneydesigns
maquelx
ali_harrington_
BriAmaranthus
annaliese_p_
whats_ur_sign_
tiarachel91

{}

In [290]:
#globaldata = globaldata.append(data, ignore_index = True) 
globaldata.loc[len(globaldata)] = contestant_info
globaldata

,contestant_0_avg_sentiment,contestant_0_total_tweets,contestant_1_avg_sentiment,contestant_1_total_tweets,contestant_2_avg_sentiment,contestant_2_total_tweets,contestant_3_avg_sentiment,contestant_3_total_tweets,contestant_4_avg_sentiment,contestant_4_total_tweets,...,contestant_26_avg_sentiment,contestant_26_total_tweets,contestant_27_avg_sentiment,contestant_27_total_tweets,contestant_28_avg_sentiment,contestant_28_total_tweets,contestant_29_avg_sentiment,contestant_29_total_tweets,n_season,id_winner
0,0.221944,45,0.247675,190,0.236303,24,0.108333,3,NaN,0,...,NaN,0,0.016667,3,0.109444,9,1,1,1,1

In [256]:
# bootstrap data
sample_with_replacement = df.sample(n=50,replace=True)

In [180]:
start = 20180101 #show airs
end = 20180313


df = pd.read_csv(r"/Users/lindseytam/Desktop/team-shows/cleaned_data/Bachelor_2018.csv") 
df = df.drop(columns=['Unnamed: 0'])
#y = time.strptime(df["date"][0], "%a %b %d %H:%M:%S +0000 %Y")
#z = time.strptime(df["date"][0], "%a %b %d %H:%M:%S +0000 %Y")

df = clean_tweets("Bachelor_2018")


c = (pd.to_datetime(str(start), format='%Y%m%d') + timedelta(days=7))
c